@import './variables.scss';
@import './main.scss';
@import './eventCard.scss';
@import './eventForm.scss';
@import './authentication.scss';


.bg-color{
    background-color: $eton-blue;
}

.bg-color-eton{
    background-color: $eton-blue-variation;
}


.text-color-eton-variation{
    color: $eton-blue-variation;
}

.border-color-eton{
    border: $eton-blue-variation 2px solid;
}

.shadow-border {
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

.icon-size{
    font-size:25px;
}

.adress-fontsize{
    font-size: 12px;
}

.card-login-size{
    width: 500px;
}

