@import './variables.scss';
@import './main.scss';
@import './eventCard.scss';
@import './eventForm.scss';
@import './authentication.scss';
@import './profile.scss';
@import './sideBar.scss';
@import './profileImg.scss';
@import './calendar.scss';

.bg-color{
    background-color: $first-color;
}

.bg-color-eton{
    background-color: $second-color;
}


.text-color-eton-variation{
    color: $second-color;
}

.border-color-eton{
    border: $second-color 2px solid;
}

.shadow-border {
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

.card-login-size{
    width: 500px;
}

.offcanvas-header{
    border: solid $first-color;
}

.offcanvas{
    height:100vh;
}