.react-calendar {
    width: 350px;
    max-width: 100%;
    background: $pure-white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em; 
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 0.5em;
  }
  .react-calendar__navigation button {
    font-size: large;
    font-weight: bold;
    min-width: 44px;
    background: none;
    margin: 2px;
  }
  .react-calendar__navigation button:disabled {
    background-color: $pure-white;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    color: $first-color;
    border-radius: 10px;
    
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    color:$pure-white;
    background-color: $second-color;
    margin-bottom: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  /*.react-calendar__month-view__weekdays__weekday {
  }*/
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
  }


  .react-calendar__month-view__days__day--weekend {
    color: $second-color;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: $third-color;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    font-weight: bold;
  }
  .react-calendar__tile:disabled {
    background-color: $pure-white;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: $fourth-color;
    border-radius: 10px;
    color:$pure-white;
  }
  .react-calendar__tile--now {
    background:$first-color;
    color:$pure-white;
    border-radius: 10px;
    
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background:$second-color;
  }
  .react-calendar__tile--hasActive {
    background: $first-color;
    border-radius: 10px;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: $fourth-color;
  }
  .react-calendar__tile--active {
    background: $first-color;
    color:$pure-white;
    border-radius: 10px;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: $first-color;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: $fourth-color;
  }
  