
.custom-card{
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);

}  

.custom-button{
    background-color:first-color;
    color: $pure-white;
    border:solid 2px transparent;
    font-size: 20px;
    font-weight: bold;
}


.custom-button:hover{
    background-color:$first-color;
    color: second-color;
    border:solid 2px $second-color;
    font-size: 20px;
    font-weight: bold;
}

.btn{
    &.custom-button:active{
        background-color:second-color;
        color: $pure-white;
        border:solid 2px second-color;
        font-size: 20px;
        font-weight: bold;
}}

.event-name{
    font-size: 13px;
    font-weight: bold;
    color:$fifth-color;
}


.icon-size{
    color:$third-color;
    font-size:15px;
}
.adress-fontsize{
    font-size: 12px;
    color:$third-color;
}

