.custom-input:focus{
    border: solid 2px $eton-blue-variation;
    box-shadow: none;
}
.custom-input:hover{
    border: solid 2px $eton-blue-variation;
    box-shadow: none;
}

.custom-input{
    border: solid 2px $eton-blue;
    box-shadow: none;
}