.custom-input:focus{
    border: solid 2px $second-color;
    box-shadow: none;
}
.custom-input:hover{
    border: solid 2px $second-color;
    box-shadow: none;
}

.custom-input{
    border: solid 2px $first-color;
    box-shadow: none;
}