.event-container{
    padding-top:80px;
    width: 100%;
    height: 100vh;
}

.event-img{
    height: 300px;
    object-fit: cover;
}

.event-icon{
    font-size: 30px;
}

.btn-green{
    background-color:#92C7A3;
    
}