@import '../../styles/variables.scss';
.custom-card{
    max-height:400px;
    max-width:350px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);

}  


.btn-card{
    background-color:$eton-blue;
    color:$eton-blue-variation;
    border: 2px solid transparent;
}

.btn-card:hover{
    background-color:$eton-blue;
    color:$eton-blue-variation;
    border: 2px solid $eton-blue-variation;
}