
a:focus,
a:active,
.btn:hover,
.btn:focus,
.btn:active,
.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active,
.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.list-group-item:hover,
.list-group-item:focus,
.list-group-item:active {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}


