
.custom-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
    min-height:80px;
    background-color: #DFECE6;
    position:fixed;
    z-index: 100;
}

.logo{
    width:150px;
    max-height:60px;
}