.navbar{
    background-color: #2D2D29; 
}

.icons-color{
    color: #92C7A3;
}

.icons-width{
    height:35px;
    width:35px;
}

.logo{
    padding-left:10px;
    width:200px;
    height:auto;
}

.custom-btn{
    background-color: #2D2D29;
}
